@media(max-width: 1023px) {
  /* HEADER */
  .nav-dropdown-1 {
    width: 50vw;
  }

  .nav-dropdown-2 {
    width: 50vw;
  }

  /* STORE LOCATOR */
  .store-locator-bar {
    width: 50vw;
  }
}

@media(max-width: 878px) {
  div.scrollmenu-categories {
    overflow: auto;
    white-space: nowrap;
  }

  .menu-categories-inner {
    padding-left: 80vw;
  }

  .menu-categories span h4 {
    padding-left: 345px;
  }

  .menu-categories h4 span {
    padding-right: 345px;
  }
}

@media(max-width: 767px) {
  /* HEADER */
  header {
    height: 50px;
  }

  nav {
    height: calc(100vh - 50px);
    top: 50px;
  }

  .nav-inner {
    height: calc(100vh - 50px);
  }

  #ham-button {
    width: 50px;
    height: 50px;
  }

  .nav-dropdown-1 {
    width: 50vw;
    height: calc(100vh - 50px);
  }

  .nav-thirds {
    height: calc((100vh - 44px)/3);
  }

  .nav-dropdown-1 h2 {
    font-size: 20px;
    line-height: 20px;
  }

  .nav-buffer {
    height: 44px;
  }

  .nav-dropdown-2 {
    width: 50vw;
    height: calc(100vh - 50px);
    font-size: 10px;
    line-height: 15px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .nav-dropdown-2 h6 {
    padding-bottom: 0px;
  }

  .nav-dropdown-2 a {
    font-size: 10px;
    line-height: 15px;
  }

  .nav-dropdown-2 span {
    font-size: 10px;
    line-height: 15px;
  }

  .nav-country-select {
    width: 50vw;
    height: 44px;
    font-size: 10px;
    line-height: 15px;
    bottom: 44px;
  }

  .kfc-logo {
    height: 50px;
    width: 58px;
    background-image: url(../img/kfc-logo-mobile.png);
  }

  .no-display-lrg {
    display: none;
  }

  .no-display-sml {
    display: block;
  }

  .social-media-slideout {
    width: 100vw;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #e4002b;
    transform: translateX(calc(100vw - 35px));
    transition: transform .8s;
  }

  .social-media-icons {
    width: 165px;
  }

  .social-media-icons img {
    margin-top: 17px;
  }

  .social-media-button {
    height: 40px;
    width: 20px;
    position: absolute;
    top: 7px;
    left: 7px;
    background-image: url(../img/socials.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  .social-media-button:hover {
    cursor: pointer;
  }

  /* MENU CAROUSEL */
  .menu-categories {
    height: 29px;
  }

  .menu-categories h4 {
    font-size: 12px;
    line-height: 29px;
  }

  div.scrollmenu-categories {
    overflow: auto;
    white-space: nowrap;
  }

  .menu-categories-inner {
    width: 100vw;
    padding-left: 700px;
  }

  .menu-pics {
    height: 160px;
  }

  .menu-pics h2 {
    font-size: 30px;
  }

  /* BOTTOM SECTION */
  .bottom-section {
    height: calc(100vh - 283px);
    flex-flow: column;
    overflow: hidden;
    margin-top: 0px;
  }

  .join-email {
    display: none;
  }

  .carousel {
    width: 100vw;
  }

  .carousel-container {
    width: 100vw;
  }

  #carousel_1 {
    width: 100vw;
    height: calc(100vh - 283px);
  }

  #carousel_1 a {
    width: 100vw;
    height: calc(100vh - 283px);
  }

  #carousel_2 {
    width: 100vw;
    height: calc(100vh - 283px);
  }

  #carousel_2 a {
    width: 100vw;
    height: calc(100vh - 283px);
  }

  #carousel_3 {
    width: 100vw;
    height: calc(100vh - 283px);
  }

  #carousel_3 a {
    width: 100vw;
    height: calc(100vh - 283px);
  }

  #carousel_4 {
    width: 100vw;
    height: calc(100vh - 283px);
  }

  #carousel_4 a {
    width: 100vw;
    height: calc(100vh - 283px);
  }

  #carousel_5 {
    width: 100vw;
    height: calc(100vh - 283px);
  }

  #carousel_5 a {
    width: 100vw;
    height: calc(100vh - 283px);
  }

  .play-button {
    top: calc(50% - 30px);
    left: calc(50% - 30px);
  }

  .button-container {
    bottom: 100px;
    right: calc(50vw - 53px);
  }

  /* STORE LOCATOR */
  .store-locator-bar {
    height: 44px;
    width: 100vw;
    background-color: rgba(228, 0, 43, 1);
    font-size: 10px;
    padding-top: 18px;
    padding-left: 10px;
  }

  .store-locator-img {
    height: 18px;
    width: 18px;
    bottom: 13px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* HEADER */
  .nav-dropdown-1 {
    width: 100vw;
  }

  .nav-dropdown-2 {
    width: 100vw;
  }

  /* BOTTOM SECTION */
  .bottom-section {
    height: calc(100vh - 355px);
    width: 100vw;
    flex-flow: column-reverse;
  }

  /* BOTTOM SECTION: JOIN EMAIL */
  .join-email {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  .join-email-inner {
    height: auto;
    width: 100vw;
    margin-top: 18vh;
  }

  .join-email:hover .join-email-inner {
    margin-top: 13vh;
  }

  /* BOTTOM SECTION: CAROUSEL/SLIDESHOW */
  .carousel {
    width: 100vw;
    height: auto;
  }

  .carousel-container {
    width: 100vw;
    height: auto;
  }

  #carousel_1 {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  #carousel_1 a {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  #carousel_2 {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  #carousel_2 a {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  #carousel_3 {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  #carousel_3 a {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  #carousel_4 {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  #carousel_4 a {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  #carousel_5 {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  #carousel_5 a {
    width: 100vw;
    height: calc((100vh - 355px)/2);
  }

  .play-button {
    top: calc(50% - 30px);
    left: calc(50% - 30px);
  }

  .button-container {
    right: calc(50% - 53px);
    bottom: calc((100vh - 275px)/2);
  }

  /* STORE LOCATOR */
  .store-locator-bar {
    width: 100vw;
  }
}
