body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* HEADER */
header {
  height: 60px;
  width: auto;
  margin: auto;
  background-color: #e4002b;
  position: relative;
}

#ham-button {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  cursor: pointer;
}

.ham-menu {
  height: 16px;
  width: 24px;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 12px);
}

.top-bar {
  height: 2px;
  width: 24px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  transform: rotateZ(0deg);
  transition: top 200ms linear 200ms, transform 200ms ease 400ms;
}

.middle-bar {
  height: 2px;
  width: 12px;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 1px);
  opacity: 1;
  transition: width 200ms linear, opacity 200ms ease 200ms;
}

.bottom-bar {
  height: 2px;
  width: 18px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  transition: width 200ms linear, bottom 200ms linear 200ms, transform 200ms ease 400ms;
}

nav {
  width: 100vw;
  height: calc(100vh - 60px);
  position: absolute;
  top: 60px;
  left: 0px;
  overflow: hidden;
  z-index: -1;
  transition: z-index 3s;
}

.nav-inner {
  width: 100vw;
  height: calc(100vh - 60px);
  position: absolute;
  top: 60px;
  left: 0px;
  display: flex;
  flex-flow: row;
}

.nav-dropdown-1 {
  width: 25vw;
  height: calc(100vh - 60px);
  background-color: #fff;
  border-right: 1px solid #E5E5E5;
  display: flex;
  flex-flow: column;
  text-align: center;
  z-index: 9000;
  transform: translateY(-100vh);
  transition: transform 500ms;
}

.nav-dropdown-1 h2 {
  font-family: "PakenhamW00-Black", arial, sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 35px;
  /*padding-top: 15%;*/
}

.nav-dropdown-1 a {
  text-decoration: none;
  color: #000;
}

.nav-thirds {
  height: calc((100vh - 54px)/3);
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
}

.nav-thirds-1:hover {
  cursor: pointer;
  background-image: url(../img/kfc-home-b45644c798db6dda6515971711dfa804c149c07cd8486a727ae967de294f3c53.jpg);
}

.nav-thirds-2:hover {
  cursor: pointer;
  background-image: url(../img/kfc-hwmc-9c92af6af7f917b4c88106e063856b1698daf197ec060d1f4401866b8d1082cf.jpg);
}

.nav-thirds-3:hover {
  cursor: pointer;
  background-image: url(../img/kfc-blog-03c9d686d13706305d3f727d71c7aface027147d7670592b8ff3d865bf27823f.jpg);
}

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-align {
  display: table-cell;
}

.vertical-align--middle {
  vertical-align: middle;
}

.nav-thirds-1:hover h2 {
  color: #fff;
  text-decoration: underline;
}

.nav-thirds-2:hover h2 {
  color: #fff;
  text-decoration: underline;
}

.nav-thirds-3:hover h2 {
  color: #fff;
  text-decoration: underline;
}

.nav-buffer {
  height: 54px;
  width: 100%;
  background-color: #fff;
}

.nav-dropdown-2 {
  width: 25vw;
  height: calc(100vh - 60px);
  background-color: #fff;
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding-top: 20px;
  padding-left: 20px;
  z-index: 9000;
  transform: translateY(100vh);
  transition: transform 500ms;
}

.nav-dropdown-2 h6 {
  padding-bottom: 7px;
}

.nav-dropdown-2 a {
  font-family: "Interstate-Regular","helvetica-neue",helvetica,sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  color: #e4002b;
}

.nav-dropdown-2 span {
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  color: #e4002b;
  cursor: pointer;
}

.nav-dropdown-2 select {
  border-left: none;
  border-right: none;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 20px;
}

.nav-country-select {
  width: 25vw;
  height: 54px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  background-color: #fff;
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  color: #e4002b;
  position: absolute;
  bottom: 54px;
  left: 20px;
  margin-left: -20px;
}

.nav-dropdown-2 select:hover {
  cursor: pointer;
}

.tinted-background {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, .85);
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 999;
  transform: translateY(-120px);
  opacity: 0;
  transition: opacity 500ms;
}

.kfc-logo {
  width: 182px;
  height: 100%;
  margin: auto;
  background-image: url(../img/kfc-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-media-icons {
  width: 175px;
  height: 60px;
  position: absolute;
  top: 0px;
  right: 0px;
  flex-direction: row;
}

.social-media-icons img {
  height: 17px;
  width: auto;
  margin-top: 20px;
  margin-left: 10px
}

.social-media-icons img:hover {
  opacity: .7;
  cursor: pointer;
}

.mail-icon {
  font-weight: bold;
}

.no-display-lrg {
  display: block;
}

.no-display-sml {
  display: none;
}

/* MENU CAROUSEL */
.menu-carousel {
  width: auto;
  height: auto;
  background-color: #fff;
}

.menu-categories {
  height: 60px;
  width: 100%;
  margin: auto;
}

.menu-categories-inner {
  height: auto;
  width: 875px;
  margin: auto;
  display: flex;
  flex-flow: row;
  text-align: center;
  justify-content: center;
}

.menu-categories h4 {
  color: rgba(0, 0, 0, .3);
  margin: auto 12px;
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 60px;
  text-align: center;
}

.menu-categories span h4:hover {
  color: rgba(228, 0, 43, 1);
}

.menu-categories h4:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.menu-pics {
  height: 210px;
  width: 100%;
}

.menu-pics h2 {
  font-family: "PakenhamW00-Black", arial, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
}

/* BOTTOM SECTION */
.bottom-section {
  height: calc(100vh - 330px);
  width: auto;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

/* BOTTOM SECTION: JOIN EMAIL */
.join-email {
  width: 50vw;
  height: 100%;
  background-image: url(../img/kfc-colonels-club-92227e40b405ecc3377fa90e4effc40a246efd114f11d4542fe017cc899d2b58.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  cursor: pointer;
}

.join-email-inner {
  height: 100%;
  width: auto;
  margin-top: 23vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: margin-top 400ms;
}

.join-email h2 {
  color: #fff;
  font-family: "PakenhamW00-Black", arial, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 2px;
}

.join-email p {
  height: 52px;
  width: 450px;
  height: auto;
  margin: auto;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: .7px;
  opacity: 0.0;
  transition: opacity 600ms;
}

.join-email:hover .join-email-inner {
  margin-top: 17vh;
}

.join-email:hover p {
  opacity: 1.0;
}

/* BOTTOM SECTION: CAROUSEL/SLIDESHOW */
.carousel {
  width: 50vw;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: background-image 2s;
}

#carousel_1 {
  width: 50vw;
  height: calc(100vh - 330px);
  background-image: url(../img/carousel_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  display: block;
  transition: display 2s;
}

#carousel_1 a {
  width: 50vw;
  height: calc(100vh - 330px);
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

#carousel_2 {
  width: 50vw;
  height: calc(100vh - 330px);
  background-image: url(../img/carousel_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  display: none;
  transition: display 2s;
}

#carousel_2 a {
  width: 50vw;
  height: calc(100vh - 330px);
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

#carousel_3 {
  width: 50vw;
  height: calc(100vh - 330px);
  background-image: url(../img/carousel_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  display: none;
  transition: display 2s;
}

#carousel_3 a {
  width: 50vw;
  height: calc(100vh - 330px);
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

#carousel_4 {
  width: 50vw;
  height: calc(100vh - 330px);
  background-image: url(../img/carousel_4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  display: none;
  transition: display 2s;
}

#carousel_4 a {
  width: 50vw;
  height: calc(100vh - 330px);
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

#carousel_5 {
  width: 50vw;
  height: calc(100vh - 330px);
  background-image: url(../img/carousel_5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  display: none;
  transition: display 2s;
}

#carousel_5 a {
  width: 50vw;
  height: calc(100vh - 330px);
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

/* STORE LOCATOR */
.store-locator:hover {
  cursor: pointer;
}

.store-locator-bar {
  height: 54px;
  width: 25vw;
  background-color: rgba(228, 0, 43, .9);
  position: absolute;
  bottom: 0px;
  color: #fff;
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 9999;
}

.store-locator-img {
  height: 22px;
  width: 22px;
  position: absolute;
  bottom: 15px;
  right: 10px;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
