html,body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

input[type="text"] {
  outline: none;
  border: 0px;
  background: none;
}

input[type="email"] {
  outline: none;
  border: 0px;
  background: none;
}

input[type="checkbox"] {
  outline: none;
  border: 0px;
  background: none;
  border-radius: 0px;
  background-color: #f8f8f5;
  -webkit-appearance: none;
  appearance: none;
}

button {
  outline: none;
  border: 0px;
  background: none;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

/* HEADER */
header {
  height: 60px;
  width: auto;
  margin: auto;
  background-color: #e4002b;
  position: relative;
}

#ham-button {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  cursor: pointer;
}

.ham-menu {
  height: 16px;
  width: 24px;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 12px);
}

.top-bar {
  height: 2px;
  width: 24px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  transform: rotateZ(0deg);
  transition: top 200ms linear 200ms, transform 200ms ease 400ms;
}

.middle-bar {
  height: 2px;
  width: 12px;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 1px);
  opacity: 1;
  transition: width 200ms linear, opacity 200ms ease 200ms;
}

.bottom-bar {
  height: 2px;
  width: 18px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  transition: width 200ms linear, bottom 200ms linear 200ms, transform 200ms ease 400ms;
}

nav {
  width: 100vw;
  height: calc(100vh - 60px);
  position: absolute;
  top: 60px;
  left: 0px;
  overflow: hidden;
  z-index: -1;
  transition: z-index 3s;
}

.nav-inner {
  width: 100vw;
  height: calc(100vh - 60px);
  position: absolute;
  top: 60px;
  left: 0px;
  display: flex;
  flex-flow: row;
}

.nav-dropdown-1 {
  width: 25vw;
  height: calc(100vh - 60px);
  background-color: #fff;
  border-right: 1px solid #E5E5E5;
  display: flex;
  flex-flow: column;
  text-align: center;
  z-index: 9000;
  transform: translateY(-100vh);
  transition: transform 500ms;
}

.nav-dropdown-1 h2 {
  font-family: "PakenhamW00-Black", arial, sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 35px;
}

.nav-dropdown-1 a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.nav-thirds {
  height: calc((100vh - 54px)/3);
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
}

.nav-thirds-1:hover {
  background-image: url(../img/kfc-home-b45644c798db6dda6515971711dfa804c149c07cd8486a727ae967de294f3c53.jpg);
}

.nav-thirds-2:hover {
  background-image: url(../img/kfc-hwmc-9c92af6af7f917b4c88106e063856b1698daf197ec060d1f4401866b8d1082cf.jpg);
}

.nav-thirds-3:hover {
  background-image: url(../img/kfc-blog-03c9d686d13706305d3f727d71c7aface027147d7670592b8ff3d865bf27823f.jpg);
}

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-align {
  display: table-cell;
}

.vertical-align--middle {
  vertical-align: middle;
}

.nav-thirds-1:hover h2 {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.nav-thirds-2:hover h2 {
  color: #fff;
  text-decoration: underline;
}

.nav-thirds-3:hover h2 {
  color: #fff;
  text-decoration: underline;
}

.nav-buffer {
  height: 54px;
  width: 100%;
  background-color: #fff;
}

.nav-dropdown-2 {
  width: 25vw;
  height: calc(100vh - 60px);
  background-color: #fff;
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  font-size: 13px;
  line-height: 20px;
  padding-top: 20px;
  padding-left: 20px;
  z-index: 9000;
  transform: translateY(100vh);
  transition: transform 500ms;
}

.nav-dropdown-2 h6 {
  padding-bottom: 7px;
}

.nav-dropdown-2 a {
  font-family: "Interstate-Regular","helvetica-neue",helvetica,sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  color: #e4002b;
}

.nav-dropdown-2 span {
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  color: #e4002b;
  cursor: pointer;
}

.nav-dropdown-2 select {
  border-left: none;
  border-right: none;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 20px;
}

.nav-country-select {
  width: 25vw;
  height: 54px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  background-color: #fff;
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  color: #e4002b;
  position: absolute;
  bottom: 54px;
  left: 20px;
  margin-left: -20px;
}

.nav-dropdown-2 select:hover {
  cursor: pointer;
}

.tinted-background {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, .85);
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 999;
  transform: translateY(-120px);
  opacity: 0;
  transition: opacity 500ms;
}

.kfc-logo {
  width: 182px;
  height: 100%;
  margin: auto;
  background-image: url(../img/kfc-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-media-icons {
  width: 175px;
  height: 60px;
  position: absolute;
  top: 0px;
  right: 0px;
  flex-direction: row;
}

.social-media-icons img {
  height: 17px;
  width: auto;
  margin-top: 20px;
  margin-left: 10px
}

.social-media-icons img:hover {
  opacity: .7;
  cursor: pointer;
}

.mail-icon {
  font-weight: bold;
}

.no-display-lrg {
  display: block;
}

.no-display-sml {
  display: none;
}

/* MENU CAROUSEL */
.menu-carousel {
  width: auto;
  height: auto;
  background-color: #fff;
  position: relative;
}

.menu-categories {
  height: 60px;
  width: 100%;
  margin: auto;
  opacity: 0;
  transition: opacity 600ms;
}

.menu-categories-inner {
  height: auto;
  width: 875px;
  margin: auto;
  display: flex;
  flex-flow: row;
  text-align: center;
  justify-content: center;
}

.menu-categories h4 {
  margin: auto 12px;
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 60px;
  text-align: center;
}

#promotions {
  color: rgba(228, 0, 43, 1);
}

#promotions:hover {
  color: rgba(228, 0, 43, 1);
  cursor: pointer;
}

#chicken {
  color: rgba(0, 0, 0, .3);
}

#chicken:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#sandwiches {
  color: rgba(0, 0, 0, .3);
}

#sandwiches:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#meals {
  color: rgba(0, 0, 0, .3);
}

#meals:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#fill-ups {
  color: rgba(0, 0, 0, .3);
}

#fill-ups:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#sides {
  color: rgba(0, 0, 0, .3);
}

#sides:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#classics {
  color: rgba(0, 0, 0, .3);
}

#classics:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#desserts {
  color: rgba(0, 0, 0, .3);
}

#desserts:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#drinks {
  color: rgba(0, 0, 0, .3);
}

#drinks:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#sauces {
  color: rgba(0, 0, 0, .3);
}

#sauces:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.scrollmenu-categories {
  height: auto;
  padding-bottom: 25px;
}

.menu-pics {
  height: 235px;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  display: flex;
  flex-flow: row;
  transition: opacity 600ms;
}

.scrollmenu-pics {
  padding-left: 450px;
  padding-right: 450px;
}

ul.scrollmenu-pics {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-flow: row;
  text-align: center;
  margin: 10px 10px;
  position: relative;
}

.scrollmenu-pics li {
  width: 140px;
  height: auto;
  position: relative;
}

.scrollmenu-pics img {
  width: 140px;
  height: auto;
}

#menu-pics-1 {
  opacity: 1;
  transition: opacity 600ms;
}

#menu-pics-1:hover {
  opacity: 1;
}

#menu-pics-2 {
  opacity: 1;
  transition: opacity 600ms;
}

#menu-pics-2:hover {
  opacity: 1;
}

#menu-pics-3 {
  opacity: 1;
  transition: opacity 600ms;
}

#menu-pics-3:hover {
  opacity: 1;
}

#menu-pics-4 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-4:hover {
  opacity: 1;
}

#menu-pics-5 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-5:hover {
  opacity: 1;
}

#menu-pics-6 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-6:hover {
  opacity: 1;
}

#menu-pics-7 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-7:hover {
  opacity: 1;
}

#menu-pics-8 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-8:hover {
  opacity: 1;
}

#menu-pics-9 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-9:hover {
  opacity: 1;
}

#menu-pics-10 {
  opacity: .5;
}

#menu-pics-10:hover {
  opacity: 1;
}

#menu-pics-11 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-11:hover {
  opacity: 1;
}

#menu-pics-12 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-12:hover {
  opacity: 1;
}

#menu-pics-13 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-13:hover {
  opacity: 1;
}

#menu-pics-14 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-14:hover {
  opacity: 1;
}

#menu-pics-15 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-15:hover {
  opacity: 1;
}

#menu-pics-16 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-16:hover {
  opacity: 1;
}

#menu-pics-17 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-17:hover {
  opacity: 1;
}

#menu-pics-18 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-18:hover {
  opacity: 1;
}

#menu-pics-19 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-19:hover {
  opacity: 1;
}

#menu-pics-20 {
  opacity: .5;
}

#menu-pics-20:hover {
  opacity: 1;
}

#menu-pics-21 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-21:hover {
  opacity: 1;
}

#menu-pics-22 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-22:hover {
  opacity: 1;
}

#menu-pics-23 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-23:hover {
  opacity: 1;
}

#menu-pics-24 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-24:hover {
  opacity: 1;
}

#menu-pics-25 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-25:hover {
  opacity: 1;
}

#menu-pics-26 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-26:hover {
  opacity: 1;
}

#menu-pics-27 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-27:hover {
  opacity: 1;
}

#menu-pics-28 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-28:hover {
  opacity: 1;
}

#menu-pics-29 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-29:hover {
  opacity: 1;
}

#menu-pics-30 {
  opacity: .5;
}

#menu-pics-30:hover {
  opacity: 1;
}

#menu-pics-31 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-31:hover {
  opacity: 1;
}

#menu-pics-32 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-32:hover {
  opacity: 1;
}

#menu-pics-33 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-33:hover {
  opacity: 1;
}

#menu-pics-34 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-34:hover {
  opacity: 1;
}

#menu-pics-35 {
  opacity: .5;
  transition: opacity 600ms;
}

#menu-pics-35:hover {
  opacity: 1;
}

.scrollmenu-pics li:hover img {
  opacity: 1;
  cursor: pointer;
}

.scrollmenu-pics li {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.menu-pics-container {
  width: 140px;
  height: auto;
  display: flex;
  flex-flow: column;
}

.menu-pics-container h6 {
  font-family: 'Roboto', "helvetica-neue", helvetica, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #a4a4a4;
  text-align: center;
  opacity: 0;
  transition: opacity 300ms ease;
}

.scrollmenu-pics li:hover h6 {
  opacity: 1;
}

#pic-div-35 {
  padding-right: 600px;
}

.howdy {
  position: absolute;
  top: 100px;
  left: calc(50% - 121.5px);
  opacity: 1;
  transition: opacity 600ms;
}

.howdy h2 {
  font-family: "PakenhamW00-Black", arial, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

.menu-animated {
  -ms-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -ms-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -ms-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -ms-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -ms-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* BOTTOM SECTION */
.bottom-section {
  height: calc(100vh - 330px);
  width: auto;
  margin-top: -25px;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

/* BOTTOM SECTION: JOIN EMAIL */
.join-email {
  width: 50vw;
  height: 100%;
  background-image: url(../img/kfc-colonels-club-92227e40b405ecc3377fa90e4effc40a246efd114f11d4542fe017cc899d2b58.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
  display: block;
  cursor: pointer;
}

.join-email-inner {
  height: 100%;
  width: auto;
  margin-top: 23vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: margin-top 400ms;
}

.join-email h2 {
  color: #fff;
  font-family: "PakenhamW00-Black", arial, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 2px;
}

.join-email p {
  height: 52px;
  width: 450px;
  height: auto;
  margin: auto;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: .7px;
  opacity: 0.0;
  transition: opacity 600ms;
}

.join-email:hover .join-email-inner {
  margin-top: 17vh;
}

.join-email:hover p {
  opacity: 1.0;
}

/* BOTTOM SECTION: CAROUSEL/SLIDESHOW */
.carousel {
  width: 50vw;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: background-image 2s;
}

.carousel-container {
  width: 50vw;
  height: auto;
  margin: auto;
  position: relative;
}

#carousel_1 {
  width: 50vw;
  height: calc(100vh - 330px);
  background-image: url(../img/carousel_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  display: block;
  transition: display 2s;
}

#carousel_1 a {
  width: 50vw;
  height: calc(100vh - 330px);
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

#carousel_2 {
  width: 50vw;
  height: calc(100vh - 330px);
  background-image: url(../img/carousel_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  display: none;
  transition: display 2s;
}

#carousel_2 a {
  width: 50vw;
  height: calc(100vh - 330px);
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

#carousel_3 {
  width: 50vw;
  height: calc(100vh - 330px);
  background-image: url(../img/carousel_3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  display: none;
  transition: display 2s;
}

#carousel_3 a {
  width: 50vw;
  height: calc(100vh - 330px);
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

#carousel_4 {
  width: 50vw;
  height: calc(100vh - 330px);
  background-image: url(../img/carousel_4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  display: none;
  transition: display 2s;
}

#carousel_4 a {
  width: 50vw;
  height: calc(100vh - 330px);
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

#carousel_5 {
  width: 50vw;
  height: calc(100vh - 330px);
  background-image: url(../img/carousel_5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: relative;
  display: none;
  transition: display 2s;
}

#carousel_5 a {
  width: 50vw;
  height: calc(100vh - 330px);
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0px;
  left: 0px;
}

.play-button {
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 75%;
  text-align: center;
  position: absolute;
  top: calc((100vh - 330px)/2.5);
  left: calc(25vw - 30px);
}

.play-button img {
  width: 15px;
  height: auto;
  margin-top: 23px;
  margin-left: 3px;
}

.button-container {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 25px;
  right: calc(25vw - 53px);
  z-index: 500;
}

.button-container button {
  height: 8px;
  width: 8px;
  margin: auto 5px;
  padding: 3px;
  border-radius: 75%;
  background-color: #fff;
  border: 0px;
  outline: none;
}

.button-container button:focus {
  border: 0px;
}

.button-container button:hover {
  cursor: pointer;
}

/* STORE LOCATOR BAR */
.store-locator:hover {
  cursor: pointer;
}

.store-locator-bar {
  height: 54px;
  width: 25vw;
  background-color: rgba(228, 0, 43, .9);
  position: absolute;
  bottom: 0px;
  color: #fff;
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 9999;
  transform: translateY(0px);
  transition: transform 250ms linear, width 500ms ease;
}

.store-locator-img {
  height: 22px;
  width: 22px;
  position: absolute;
  bottom: 15px;
  right: 10px;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

/* STORE LOCATOR */
.store-locator-container {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #f8f8f5;
  position: absolute;
  top: 60px;
  z-index: 4000;
  text-align: center;
  transform: translateY(100vh);
  transition: transform 300ms ease;
}

.store-locator-1 {
  width: 50vw;
  height: calc(100vh - 60px);
  float: left;
  background-color: #f8f8f5;
  border-right: 1px solid #e5e5e5;
}

.store-parameters-container {
  width: 100%;
  height: 54px;
  float: left;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.store-parameters-container input {
  font-family: "Interstate-Reg","helvetica-neue",helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: #e4002b;
}

::-webkit-input-placeholder {
  color: #B1B1B1;
}

::-moz-placeholder {
  color: #B1B1B1;
}

:-ms-input-placeholder {
  color: #B1B1B1;
}

:-moz-placeholder {
  color: #B1B1B1;
}

.store-zip-query {
  height: 100%;
  width: calc(100% - 300px);
  float: left;
  padding-left: 20px;
}

.store-button-queries {
  height: 100%;
  width: 300px;
  float: right;
  border-left: 1px solid #e5e5e5;
  text-transform: uppercase;
  display: flex;flex-flow: row;
}

.store-button-queries label {
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  font-size: 13px;
  line-height: 54px;
  color: #000;
  margin-left: 5px;
}

.query-checkbox-container {
  width: 18px;
  height: 18px;
  position: relative;
  margin-top: 18px;
  margin-left: 20px;
}

.query-checkbox-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 1px solid #e5e5e5;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  cursor: auto;
}

.query-checkbox-checked {
  width: 18px;
  height: 18px;
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 24 19" xmlns="http://www.w3.org/2000/svg"><g fill="none"><path id="Shape" d="M-4-7h32v32h-32z"/><path fill="#000000" fill-rule="nonzero" d="M8 14.6l-5.6-5.6-1.867 1.867 7.467 7.467 16-16-1.867-1.867z"/></g></svg>');
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center;
  border: 1px solid #e5e5e5;
  pointer-events: none;
}

.store-locations {
  width: 100%;
  height: calc(100% - 54px);
  margin-top: 54px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.store-locations h2 {
  font-family: "PakenhamW00-Black", arial, sans-serif;
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 5px;
}

.store-locations h6 {
  font-family: "Interstate-Reg","helvetica-neue",helvetica,sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #a4a4a4;
}

#results-container {
  display: none;
}

#number-of-results {
  height: 55px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  text-transform: none;
  text-align: left;
  /*padding-top: 20px;*/
  padding-left: 20px;
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  font-size: 13px;
  line-height: 54px;
}

#results-list {
  height: calc(100vh - 168px);
  width: 100%;
  overflow: scroll;
  position: relative;
}

#results-list li {
  height: 259px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  font-family: "Interstate-Reg","helvetica-neue",helvetica,sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  padding-top: 70px;
  /*padding-top: 54px;*/
  padding-bottom: 54px;
}

#results-list h3 {
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
}

#results-list p {
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#results-placeholder {
  display: table;
}

.store-locator-2 {
  width: 50vw;
  height: calc(100vh - 60px);
  float: right;
  background-color: #f8f8f5;
}

/* YOUTUBE VIDEOS */
.video-container {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #000;
  position: absolute;
  top: 60px;
  z-index: 5000;
}

.close-box {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  box-shadow: 0px 0px 5px #ccc;
  z-index: 9999;
}

.close-box:hover {
  cursor: pointer;
}

.top-line {
  height: 2px;
  width: 25px;
  background-color: #e4002b;
  margin-top: 23px;
  margin-left: 13px;
  transform: translateY(2px) rotateZ(-45deg);
}

.bottom-line {
  height: 2px;
  width: 25px;
  margin-left: 13px;
  background-color: #e4002b;
  transform: rotateZ(45deg);
}

#video-container-1 {
  transform: translateY(100vh);
  transition: transform 300ms ease;
}

/* THE COLONEL'S CLUB FORM */
.colonels-club {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #f8f8f5;
  position: absolute;
  top: 60px;
  z-index: 5000;
  text-align: center;
  transform: translateY(100vh);
  transition: transform 300ms ease;
}

.col-club-form {
  width: 700px;
  height: auto;
  margin: auto;
  position: absolute;
  top: calc((50vh - 60px) - 186px);
  left: calc(50vw - 350px);
}

.col-club-form form {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  text-align: left;
  color: #BEBEBE;
}

.colonels-club h2 {
  font-family: "PakenhamW00-Black", arial, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.col-club-inputs {
  display: flex;
  flex-flow: column;
}

.col-club-inputs input {
  font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
  font-size: 26px;
}

.col-club-inputs label {
  padding-left: 10px;
  font-family: "Interstate-Reg","helvetica-neue",helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 26px;
  margin-bottom: -30px;
  z-index: -1;
  transition: transform 300ms ease, color 300ms ease;
}

.col-club-inputs:focus-within label {
  transform: translateY(-30px);
  color: #e4002b;
}

.col-club-name {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  position: relative;
}

.col-club-contact {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  position: relative;
}

#col-club-first {
  width: 48%;
  height: auto;
  float: left;
}

#col-club-last {
  width: 48%;
  height: auto;
  float: right;
}

#col-club-email {
  width: 68%;
  height: auto;
  float: left;
}

#col-club-zip {
  width: 28%;
  height: auto;
  float: right;
}

.colonels-club input {
  border-bottom: 1px solid #BEBEBE;
  transition: border-bottom 300ms ease;
}

.colonels-club input:focus {
  border-bottom: 1px solid #000;
}

.col-club-terms {
  float: left;
  margin-bottom: 50px;
  font-family: "Interstate-Reg","helvetica-neue",helvetica,sans-serif;
  font-size: 13px;
  line-height: 26px;
  display: flex;
  flex-flow: row;
}

.col-club-terms label {
  padding-left: 10px;
}

.col-club-terms span {
  text-decoration: underline;
  cursor: pointer;
}

.col-club-terms span:hover {
  color: #000;
}

.checkbox-container {
  width: 15px;
  height: 15px;
  position: relative;
  margin-top: 5px;
}

.checkbox-container input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border: 1px solid #BEBEBE;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.checkbox-checked {
  width: 15px;
  height: 15px;
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 7.5px);
  background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 24 19" xmlns="http://www.w3.org/2000/svg"><g fill="none"><path id="Shape" d="M-4-7h32v32h-32z"/><path fill="#e4002b" fill-rule="nonzero" d="M8 14.6l-5.6-5.6-1.867 1.867 7.467 7.467 16-16-1.867-1.867z"/></g></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #f8f8f5;
  pointer-events: none;
}

input[type="checkbox"]:checked {
  opacity: 0;
}

/*input[type="text"]:invalid {
  border-bottom: 1px solid #e4002b;
}*/

.col-club-form button {
  width: 143px;
  height: 52px;
  margin: auto;
  background: #BEBEBE;
  color: #fff;
  font-family: "Interstate-Reg","helvetica-neue",helvetica,sans-serif;
  font-size: 13px;
  line-height: 26px;
  text-transform: uppercase;
}

.col-club-form button:valid {
  background-color: #e4002b;
}
